<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>


<div class="mee_incoming_friend_box">
    <fieldset>
      <legend id="mee_legend">My Contributions</legend>
      <table>
        <tr>
          <th> Project Name  | </th>
          <th> Project Sponsor  | </th>
          <th> Amount you are willing to contribute  | </th>
          <th> Sponsor accepted contribution?  | </th>
          <th> Amount Sent?  | </th>
        </tr>
      <% @my_contributions.each do |in_contri| %>

        <tr class="<%= cycle('mee_line_odd', 'mee_line_even') %>" >
            <% @project=Project.find(in_contri.project_id) %>
            <td><a href="/donor_requests/<%= in_contri.id%> "><%=  @project.name%></a></td>
            <% @user=User.find_by_user_id(@project.user_id) %>
            <td><a href="/donor_requests/<%= in_contri.id%> "> <%= @user.first_name%>,<%= @user.last_name%></a></td>
            <td><a href="/donor_requests/<%= in_contri.id%> "> <%= in_contri.sent_money%></a></td>
            <td><a href="/donor_requests/<%= in_contri.id%> "> <%= in_contri.receiver_accepted%></a></td>
            <td><a href="/donor_requests/<%= in_contri.id%> "> <%= in_contri.sent%></a></td>

          </tr>

      <% end %>
      </table>
    </fieldset>
</div>