<h1>Listing All projects</h1>

<table>
  <tr>
    <th>Project Name</th>
    <th>Sponsor Userid</th>
    <th>Project Summary</th>
    <th>Description</th>
    <th>Budget</th>
    <th>Days to return money</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr  class="<%= cycle('mee_line_odd', 'mee_line_even') %>" >

    <td><%= project.name %></td>
    <td><%= project.user_id %></td>
    <td><%= project.summary %></td>
    <td><%= project.description %></td>
    <td><%= project.maximum_budget %></td>
    <td><%= project.days_to_return_money %></td>

    <td><%= link_to 'Show', project %></td>

  </tr>
<% end %>
</table>

<br />


