<% if flash[:notice] %>
    <p id="info_notice"><%= flash[:notice] %></p>
<% end %>

<table cellspacing="1" cellpadding="5" align="center" style="margin-top: 5px; margin-bottom: 5px;">
<tr>
  <td width="75%" valign="top">

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Summary:</b>
  <%= @project.summary %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Minimum budget:</b>
  <%= @project.minimum_budget %>
</p>

<p>
  <b>Maximum budget:</b>
  <%= @project.maximum_budget %>
</p>

<p>
  <b>Days to return money:</b>
  <%= @project.days_to_return_money %>
</p>

<p>
  <b>Need referral:</b>
  <%= @project.need_referral %>
</p>
</td>

<td valign="top">

<div class="donate_box">

  <%= form_tag({:controller => "donor_requests" , :action => "create" } ,:method=>"post") do %>
    <fieldset>
      <legend id="mee_legend"> Give a loan to this project</legend>

      <div>
        <%= label_tag(:How_much_amount_will_you_loan_to_this_project?) %>
        <%= text_field_tag(:loan_amount) %>
        <%= hidden_field(:project, :id)  %>
      </div>
      <br></br>
      <div>
        <%= button_to('Contribute!') %>
      </div>
    </fieldset>
  <% end %>

</div>

</td>

</tr>
</table>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
