<%= form_for(@donor_request) do |f| %>
  <% if @donor_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@donor_request.errors.count, "error") %> prohibited this contribution request from being saved:</h2>

      <ul>
      <% @donor_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% if @donor_request.receiver_accepted %>
    <%= f.label :Your_sponsor_accepted_your_request_Did_you_already_send_money? %><br />
    <%= f.check_box :sent %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :Amount_Sent %><br />
    <%= f.text_field :sent_money %>
  </div>
  <div class="actions">
    <%= button_to('Update') %>
  </div>
<% end %>
