<%= form_for(@donor_request) do |f| %>
  <% if @donor_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@donor_request.errors.count, "error") %> prohibited this donor_request from being saved:</h2>

      <ul>
      <% @donor_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.text_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :sent %><br />
    <%= f.check_box :sent %>
  </div>
  <div class="field">
    <%= f.label :sent_date %><br />
    <%= f.date_select :sent_date %>
  </div>
  <div class="field">
    <%= f.label :sent_money %><br />
    <%= f.text_field :sent_money %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
