<% if flash[:notice] %>
    <p id="info_notice"><%= flash[:notice] %></p>
<% end %>
<p>
  <b>Project Name:</b>
  <% @project = Project.find_by_id(@donor_request.project_id) %>
  <%= @project.name %>
</p>

<p>
  <b>Sponsored By:</b>
  <% @project_sponsor = User.find_by_user_id(@project.user_id) %>
  <%=  link_to "#{@project_sponsor.first_name}, #{@project_sponsor.last_name}", @project_sponsor %>
</p>

<p>
  <b>Amount already sent?:</b>
  <%= @donor_request.sent %>
</p>



<p>
  <b>Amount willing to send:</b>
  <%= @donor_request.sent_money %>
</p>
