<p id="notice"><%= notice %></p>

<div class="mee_add_friend_box">



</div>


<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>About me:</b>
  <%= @user.about_me %>
</p>


<p>
  <b>Gender:</b>
  <%= @user.gender %>
</p>

<p>
  <b>Address line1:</b>
  <%= @user.address_line1 %>
</p>

<p>
  <b>Address line2:</b>
  <%= @user.address_line2 %>
</p>

<p>
  <b>City:</b>
  <%= @user.city %>
</p>

<p>
  <b>State:</b>
  <%= @user.state %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @user.zipcode %>
</p>

<p>
  <b>User:</b>
  <%= @user.user_id %>
</p>

<p>
  <b>Interests:</b>
  <%= @user.interests %>
</p>


